<p id="notice"><%= notice %></p>

<h1>Listing Agent Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Skills</th>
      <th>Status</th>
      <th>Priority</th>
      
      <th>Last task time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agent_lists.each do |agent_list| %>
      <tr>
        <td><%= agent_list.name %></td>
        <td><%= agent_list.skills %></td>
        <td><%= agent_list.status %></td>
        <td><%= agent_list.priority %></td>
       
        <td><%= agent_list.last_task_time %></td>
        <td><%= link_to 'Show', agent_list %></td>
        <td><%= link_to 'Edit', edit_agent_list_path(agent_list) %></td>
        <td><%= link_to 'Destroy', agent_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent list', new_agent_list_path %>
